<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div class="container mt-5">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center">게시글 수정</h2>
            <form>
                <!-- 게시글 번호 입력란 -->
                <div class="form-group">
                    <label for="id">게시글 번호</label>
                    <input type="text" class="form-control" id="id" name="id" th:value="${posts.id}" disabled>
                </div>

                <!-- 제목 입력란 -->
                <div class="form-group">
                    <label for="title">제목</label>
                    <input type="text" class="form-control" id="title" name="title" th:value="${posts.title}" required>
                </div>
                <!-- 작성자 입력란 -->
                <div class="form-group">
                    <label for="author">작성자</label>
                    <input type="text" class="form-control" id="author" name="author" th:value="${posts.author}" disabled>
                </div>
                <!-- 내용 입력란 -->
                <div class="form-group">
                    <label for="content">내용</label>
                    <textarea class="form-control" id="content" name="content" rows="4" th:text="${posts.content}"
                              required></textarea>
                </div>
                <!-- 버튼 그룹 -->
                <div class="form-group text-left">
                    <!-- 등록 버튼 -->
                    <button type="submit" class="btn btn-primary" id="btn-update">수정</button>
                    <!-- 취소 버튼 -->
                    <a href="/" class="btn btn-secondary">취소</a>
                    <!-- 삭제 버튼 -->
                    <button class="btn btn-danger" id="btn-delete">삭제</button>
                </div>
            </form>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->

</body>
</html>
